<%- include('../includes/head.ejs') %>
    </head>
            <%- include('../includes/navigation.ejs') %>

<main>
    <h1>Orders</h1>
             <% if (orders.length === 0) { %>   
                <h1>Nothing!</h1>                     
                     <% } else { %>

                    <div>
                        <% orders.forEach(order => { %>
                            <div>
                                <h1>
                                Order #:<%= order.id %>
                            </h1>
                    
                             <h3> Products:</h3>
                                        <% order.products.forEach(product => { %>
                                        <div><%= product.title %></div>
                                        <div><%= product.orderItem.quantity %></div>
                                    </h1>
                                    <% })}); %>
                                    <% } %>
                                </header>
</main>
    <body>
        <%- include('../includes/end.ejs') %>